
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Videos</title>
</head>
<body>

<div id="player"></div>

<!-- <div class="container">
<%= @video.description %>
<%= @video.thumbnail_url%>

	<form action='/videos' method='youtube.search.list'>
	<h2>Pet Care Videos:</h2>
	<label>Search</label><br>
		<input name='<%@url%>'><br>

	</form>
</div> -->


</body>

</html>
