
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <%= csrf_meta_tags %>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Videos</title>
</head>
<body>

<div id="player"></div>

<div class="container">

	<form class= "vidForm" action= "index" method= "post">
		<input id = "vidSearch" name="search" >
		<button id = "search">Search</button>
	</form>
<!--  onclick = "returnVal()"> -->



</div>



</body>
<script>
	function returnVal(){
  	var searchVal = document.getElementById("vidSearch").value;
  	return searchVal
};
</script>
</html>
