<!DOCTYPE html>
<html>
<head>
  <title>Watch Videos</title>
</head>
<body>
<%= @videos %>
<div class="container">

  <form action="/search" method="POST">
    <input type="text" id="search" name="search">
    <input type="submit" id="searchbtn" value="Submit">
  </form>
<div class="col-lg-5">
       <div id="results">

         <div class="vidholder">

           <button class="viewbtn" videoid="{{videoid}}">Watch Video</button>


           <div class="title">{{title}}</div>
           <div class="descript">{{description}}</div>

         </div>


    </div>

    </div>
  </div>

</body>
</html>
