<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <%@stores.each do |store|%>
<%= store["status"]%><br>
<%= store["name"]%><br>
<img src="<%= store["image"]%>"><br>
<%= link_to "more info", "stores/#{store['id']}"%>
<br>
<br>
<%end%>
</body>
</html>
