<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Your Dogs</title>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

<%= render 'partials/nav1'%><br>

  <h1>Thanks for adopting me!</h1>

<table>
   <%@user_dogs.pets.each do |dog| %>
   <tr>
    <td><img src = "<%= dog.image%>"></td>
   <td><%= dog.name %></td>
   </tr>
     <%end%>
</table>

</body>
<style>
table, th, td {
  border: 2px double black;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 16pt;
  border-collapse: collapse;
  border-spacing: 0;

}
img{
  width: 100px;
  height: 100px;
}
</style>
</html>
