<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>

<%= render 'partials/nav1'%> <br>
<%= render 'partials/dogs'%><br>

<div id = "container">
<div id = "data">
<h1> You've just adopted <%= @dog.name%>! </h1>
</div>
<img src = "<%= @dog.image%>">
</div>

</body>
</html>
<style>
body{
  background-color: rgb(225, 100, 67);
}
#container{
  text-align: center;
  padding-top: 50px;
}
</style>
