// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
}
#banner {
   background: url("https://wallpaperscraft.com/image/dog_face_wind_glasses_96452_3840x2160.jpg");
   height: 500px;
   background-size: 100% 100%;
}
